<ion-header>
    <ion-navbar color="primary" hideBackButton="true">
        <ion-title>Exercise 1: Flourish</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="row">
        <div class="timer" (tap)="clockClicked()">
            <span><ion-icon name="time"></ion-icon></span>
            <span [class.redTimer]="timerRed" class="clock">{{time}}</span>
        </div>
        <button class="questionButton" ion-button icon-only outline (click)="helpClicked()">
            <ion-icon name="help"></ion-icon>
        </button>
    </div>
    <hr>

    <div class="letters">
        <div class="letter">
            <span *ngFor="let letter of letters">{{letter}}</span>...
        </div>
    </div>

    <h4 [class.fail]="wordFailure" [class.success]="wordSuccess" *ngIf="wordCount===1">{{wordCount}} Wort gefunden!</h4>
    <h4 [class.fail]="wordFailure" [class.success]="wordSuccess" *ngIf="wordCount!==1">{{wordCount}} Wörter gefunden!</h4>

    <ion-list class="list">
        <ion-item>
            <ion-input placeholder="Gib die Wörter ein!" type="text" #input [(ngModel)]="currentWord" (keypress)="inputHandler($event.keyCode)"></ion-input>
        </ion-item>
    </ion-list>

</ion-content>

<div class="logo">
    <img src="assets/images/logo-icon.png" alt="logo">
</div>